 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
   background-color: lightblue;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
 }

 .container {
   border-radius: 10px;
   background-color: white;
   box-shadow: 0px 0px 10px black;
   width: 100%;
   max-width: 600px;
 }

 /* screen */

 .screen {
  display: none;
  padding: 2rem;
   text-align: center;
   
 }

 .screen.active {
    display: block;
    background-color: pink;
    border-radius: 10px;
 }

  /* start screen */

  #start-screen h1 {
      color: orangered;
      font-size: 2.5rem;
      margin-bottom: 20px;
  }

  #start-screen p {
      margin-bottom: 20px;
      font-size: 1.5rem;
  }

  /* middle screen  */

  .quiz-header {
    margin-bottom: 20px;
  }

  #question-text {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 20px;
  }

.quiz-info {
   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;
   
}

.answer-container {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 25px;
}

.answer-btn {
   border: 1px solid palevioletred;
   border-radius: 5px;
   text-align: left;
   padding: 8px;
   transition: all 0.3s;
   background-color: lightseagreen;
   color: black;
}



.answer-btn.correct {
   background-color: gray;
   color: green;
   border-color: green;
}

.answer-btn.incorrect {
   background-color: gray;
   color: red;
   border-color: red;
}

.progress-bar {
   height: 15px;
   background-color: white;
   border-radius: 8px;
   margin-bottom: 20px;
}


#next-btn {
   border-radius: 10px;
   background-color: red;;
   color: white;
   
}

#next-btn:hover {
   opacity: 0.7;
}

#next-btn:active{
   opacity: 0.4;
}

#progress {
   height: 100%;
   width: 0%;
   background-color: orangered;
    border-radius: 20px;
}

/* result screen */

#result-screen h1 {
   color: #d45b28;
   margin-bottom: 20px;
   font-size: 2.5rem;
}

.result-info {
    background-color: lightgreen;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.result-info p {
   margin-bottom: 20px;
   font-size: 2rem;
}

.result-info h2 {
   color: #d45b28;
   margin-bottom: 20px;
}

button {
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* responsive design */

@media (max-width:500px) {

   .screen {
      padding : 1rem;
   }

   #start-screen h1 {
      font-size: 2rem;
   }
   
}
  
